<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <?define ProductVersion="$(var.target_version)" ?>
  <?define ProductId="*" ?>
  <?define Name="$(var.product_name) $(var.target_actual_version)" ?>
  <?define NameSimple="$(var.product_name)" ?>

  <Package Name="$(var.Name)" Language="1033" Version="$(var.ProductVersion)" Manufacturer="Cognite AS" UpgradeCode="$(var.upgrade_guid)" ProductCode="$(var.ProductId)">
    <SummaryInformation Manufacturer="Cognite AS" Description="$(var.target_description)" />
    <MajorUpgrade AllowSameVersionUpgrades="$(var.is_pre_release)" DowngradeErrorMessage="A newer version of $(var.NameSimple) is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <ui:WixUI Id="WixUI_InstallDir" />
    <UIRef Id="WixUI_ErrorProgressText" />
    <WixVariable Id="WixUILicenseRtf" Value="Resources\License.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="Resources\InstBanner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="Resources\InstDialog.bmp" />
    <WixVariable Id="WixUIExclamationIco" Value="Resources\black32x32.ico" />
    <WixVariable Id="WixUIInfoIco" Value="Resources\black32x32.ico" />

    <Icon Id="AppIcon.ico" SourceFile="Resources\black16x16.ico" />

    <Property Id="INSTALLFOLDER" Value="C:\Cognite">
      <RegistrySearch Id="CogniteRegistry$(var.product_short_name)Folder" Type="raw" Root="HKLM" Key="Software\Cognite\$(var.product_short_name)" Name="InstallFolder" />
    </Property>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALTEXT" Value="$(var.Name) - Is now installed." />

    <Property Id="ARPCOMMENTS" Value="$(var.Name)" />
    <Property Id="ARPCONTACT" Value="Cognite Support" />
    <Property Id="ARPHELPLINK" Value="http://www.cognite.com" />
    <Property Id="ARPURLINFOABOUT" Value="http://www.cognite.com" />
    <Property Id="ARPURLUPDATEINFO" Value="http://www.cognite.com" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon.ico" />

    <Feature Id="ProductFeature" Title="$(var.Name)" Level="1">
      <ComponentGroupRef Id="ExecutableComponentGroup" />
      <ComponentGroupRef Id="ConfigFilesComponentGroup" />
      <!-- If you are referencing multiple separate products, add them here -->
    </Feature>
  </Package>

  <Fragment>
      <StandardDirectory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Cognite">
          <Directory Id="ProductFolder" Name="$(var.product_short_name)">
            <Directory Id="ConfigFolder" Name="config" />
            <Directory Id="LogsFolder" Name="logs" />
            <Directory Id="ExecutableFolder" Name="bin" />
            <!-- Additional directories can be added here -->
          </Directory>
        </Directory>
      </StandardDirectory>
    </Fragment>

  <Fragment>
    <ComponentGroup Id="ExecutableComponentGroup">
      <Component Id="Primary_exe" Directory="ExecutableFolder">
        <File Id="___var.exe_name_" Source="$(var.build_dir)\$(var.exe_name)" />

        <ServiceInstall Id="ServiceInstaller" Type="ownProcess" Vital="yes" Name="$(var.product_short_name)" DisplayName="$(var.Name)" Description="$(var.Name) service." Start="auto" Account="LocalSystem" ErrorControl="ignore" Interactive="no" Arguments="$(var.service_args)">
          <util:ServiceConfig FirstFailureActionType="restart" SecondFailureActionType="restart" ThirdFailureActionType="restart" RestartServiceDelayInSeconds="10" />
          <ServiceDependency Id="Dnscache" />
          <ServiceConfig DelayedAutoStart="yes" OnInstall="yes" OnReinstall="yes" />
        </ServiceInstall>
        <ServiceControl Id="StartService" Stop="both" Remove="uninstall" Name="$(var.product_short_name)" Wait="no" />
        <!-- This EventSource Name need to match whats being used as event source in the service. -->
        <util:EventSource Name="$(var.product_short_name)" Log="Application" EventMessageFile="%SystemRoot%\Microsoft.NET\Framework\v2.0.50727\EventLogMessages.dll" />
        <RegistryKey Id="ProductKey" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes" Root="HKLM" Key="Software\Cognite\$(var.product_short_name)">
          <RegistryValue Id="ProductRegPath" Action="write" Name="InstallFolder" Type="string" Value="[INSTALLFOLDER]" />
        </RegistryKey>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ConfigFilesComponentGroup">
      <!-- Add more config files here in a similar manner -->
      <Component Id="config_example_yml" Directory="ConfigFolder">
        <File Id="config.example.yml" Name="config.example.yml" Source="$(var.config_dir)\config.example.yml" />
      </Component>
    </ComponentGroup>
  </Fragment>

</Wix>
